<!DOCTYPE html>
<html>

<head>
<meta property="og:title" content="CaseWord" />
<meta property="og:type" content="company" />
<meta property="og:site_name" content="CaseWord" />
<meta property="og:description" content="An intuitive and efficient way to prepare legal briefs and memos." />
<meta property="og:url" content="www.caseword.com" />
<meta property="og:image" content="" />
</head>

<body><!-- Begin LaunchRock Widget -->
<div id="lr-widget" rel="W928ZA8H"></div>
<script type="text/javascript" src="/static/js/launchrock.js"></script>
</body>

</html>